---
title: MATH 215 #5
---
<!DOCTYPE html>
<html>

    {% include head.html %}

    <body>

        {% include header.html %}

        <div class="container col-md-offset-2 col-md-8">

            <h1 class="page-title"><strong><a href="/quest_page.html"><span class="fa fa-arrow-circle-o-left"></span></a> MATH 215 #5</strong></h1>

            <div class="row">

                <div class="col-sm-7">
                    <div class="qpage-card">

                        <div class="challenge-entry">
                            <h2 class="truncate"><span class="fa fa-square-o"></span> # 1a</h2>
                            <a href="#"><span class="div-link"></span></a>
                        </div>

                        <div class="challenge-entry">
                            <h2 class="truncate"><span class="fa fa-square-o"></span> # 1b</h2>
                            <a href="#"><span class="div-link"></span></a>
                        </div>

                        <div class="challenge-entry">
                            <h2 class="truncate"><span class="fa fa-square-o"></span> # 1c</h2>
                            <a href="#"><span class="div-link"></span></a>
                        </div>

                        <div class="challenge-entry">
                            <h2 class="truncate"><span class="fa fa-square-o"></span> # 1d</h2>
                            <a href="#"><span class="div-link"></span></a>
                        </div>

                    </div>
                </div>

                <div class="col-sm-5">
                    <div class="qpage-card">
                        <div class="inner">
                            <h3><span class="fa fa-calendar-o"></span> Mar 7 2015</h3>
                            <p class="subtext"><span class="fa fa-bullseye"></span> 98% Defeated • 200 <span class="fa fa-star"></span> Reward</p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-5">
                    <div class="qpage-card">
                        <div class="inner">
                            <h3>Victorious Heroes</h3>

                            <div class="row nopadding">
                                <div class="col-xs-2 nopadding"><img src="/images/dp2.png" class="img-circle victory-pic" /></div>
                                <div class="col-xs-2 nopadding"><img src="/images/dp2.png" class="img-circle victory-pic" /></div>
                                <div class="col-xs-2 nopadding"><img src="/images/dp2.png" class="img-circle victory-pic" /></div>
                                <div class="col-xs-2 nopadding"><img src="/images/dp2.png" class="img-circle victory-pic" /></div>
                                <div class="col-xs-2 nopadding"><img src="/images/dp2.png" class="img-circle victory-pic" /></div>
                                <div class="col-xs-2 nopadding"><img src="/images/dp2.png" class="img-circle victory-pic" /></div>
                                <div class="col-xs-2 nopadding"><img src="/images/dp2.png" class="img-circle victory-pic" /></div>
                                <div class="col-xs-2 nopadding"><img src="/images/dp2.png" class="img-circle victory-pic" /></div>
                                <div class="col-xs-2 nopadding"><img src="/images/dp2.png" class="img-circle victory-pic" /></div>
                            </div><!-- /row -->

                        </div>

                    </div>
                </div>

            </div><!-- /row -->

        </div><!-- /container -->

        {% include footer.html %}

    </body>

</html>