---
title: Quests
---
<!DOCTYPE html>
<html>

    {% include head.html %}

    <body>

        {% include header.html %}

        <div class="container col-md-offset-2 col-md-8">

            <h1 class="page-title"><strong>Active Quests</strong></h1>

            <div class="quest-card">
                <div class="inner">
                    <div class="row nopadding">
                        <div class="col-xs-10 nopadding">
                            <h2 class="truncate">ECE 2A</h2>
                            <p class="subtext truncate">1234 <span class="fa fa-star"></span> • Noob • Rank #128</p>
                        </div>
                        <div class="col-xs-2 badge-icon-main nopadding"><img src="/images/b1.png" /></div>
                    </div><!-- /row -->
                </div>
                <a href="/quest_page.html"><span class="div-link"></span></a>
            </div>

            <div class="quest-card">
                <div class="inner">
                    <div class="row nopadding">
                        <div class="col-xs-10 nopadding">
                            <h2 class="truncate">Adventure Time Marathon</h2>
                            <p class="subtext truncate">9001 <span class="fa fa-star"></span> • Master • Rank #1</p>
                        </div>
                        <div class="col-xs-2 badge-icon-main nopadding"><img src="/images/b9.png" /></div>
                    </div><!-- /row -->
                </div>
                <a href="#"><span class="div-link"></span></a>
            </div>


            <div class="quest-add">
                <a href="#"><span class="fa fa-plus"></span><span class="desc"><strong>Join/create new quest</strong></span></a>
            </div>

            <h1 class="page-title"><strong>Completed Quests</strong></h1>

            <div class="quest-card">
                <div class="inner">
                    <div class="row nopadding">
                        <div class="col-xs-10 nopadding">
                            <h2 class="truncate">Breaking Bad Marathon</h2>
                            <p class="subtext truncate">9001 <span class="fa fa-star"></span> • Master • Rank #1</p>
                        </div>
                        <div class="col-xs-2 badge-icon-main nopadding"><img src="/images/b9.png" /></div>
                    </div><!-- /row -->
                </div>
                <a href="#"><span class="div-link"></span></a>
            </div>

        </div><!-- /container -->

        {% include footer.html %}

    </body>

</html>