---
---
<!DOCTYPE html>
<html>

    {% include head.html %}

    <body>

        {% include header.html %}

        <div class="container col-md-offset-3 col-md-6">

            <div class="quest-card">
                <div class="inner">
                    <div class="badge-icon-main"><img src="/images/b1.png" class="badge-icon-main" /></div>
                    <h2>ECE 2A</h2>
                    <p class="subtext">1234 Points • Noob • Rank #8</p>
                </div>
                <a href="#"><span class="div-link"></span></a>
            </div>

            <div class="quest-card">
                <div class="inner">
                    <div class="badge-icon-main"><img src="/images/b9.png" class="badge-icon-main" /></div>
                    <h2>Breaking Bad Marathon</h2>
                    <p class="subtext">2034 Points • Master • Rank #1</p>
                </div>
                <a href="#"><span class="div-link"></span></a>
            </div>

            <div class="quest-add">
                <a href="#"><span class="fa fa-plus"></span><span class="desc"><strong>Join/create new quest</strong></span></a>
            </div>

        </div><!-- /container -->

        {% include footer.html %}

    </body>

</html>