---
title: ECE 2A
---
<!DOCTYPE html>
<html>

    {% include head.html %}

    <body>

        {% include header.html %}

        <div class="container col-md-offset-2 col-md-8">

            <h1 class="page-title"><strong>ECE 2A</strong></h1>

            <div class="row">

                <div class="col-sm-6">
                    <div class="qpage-card">
                        <div class="inner"><h3>Active Challenges <span class="fa fa-caret-down"></span></h3></div>

                        <div class="challenge-entry late">
                            <h2 class="truncate">ECE 222 #3</h2>
                            <p class="subtext truncate"><span class="fa fa-bullseye"></span> 0% Defeated • <span class="fa fa-calendar-o"></span> Feb 12 2015 • 100 <span class="fa fa-star"></span> Bounty</p>
                            <a href="#"><span class="div-link"></span></a>
                        </div>

                        <div class="challenge-entry">
                            <h2 class="truncate">MATH 215 #5</h2>
                            <p class="subtext truncate"><span class="fa fa-bullseye"></span> 27% Defeated • <span class="fa fa-calendar-o"></span> Mar 3 2015 • 200 <span class="fa fa-star"></span> Bounty</p>
                            <a href="#"><span class="div-link"></span></a>
                        </div>

                        <div class="challenge-entry">
                            <h2 class="truncate">ECE 205 #5</h2>
                            <p class="subtext truncate"><span class="fa fa-bullseye"></span> 3% Defeated • <span class="fa fa-calendar-o"></span> Mar 4 2015 • 200 <span class="fa fa-star"></span> Bounty</p>
                            <a href="#"><span class="div-link"></span></a>
                        </div>

                        <div class="challenge-entry">
                            <h2 class="truncate">ECE 240 #6</h2>
                            <p class="subtext truncate"><span class="fa fa-bullseye"></span> 0% Defeated • <span class="fa fa-calendar-o"></span> Mar 5 2015 • 1000 <span class="fa fa-star"></span> Bounty</p>
                            <a href="#"><span class="div-link"></span></a>
                        </div>

                        <div class="challenge-entry">
                            <h2 class="truncate">ECE 290 #2</h2>
                            <p class="subtext truncate"><span class="fa fa-bullseye"></span> 72% Defeated • <span class="fa fa-calendar-o"></span> Mar 6 2015 • 200 <span class="fa fa-star"></span> Bounty</p>
                            <a href="#"><span class="div-link"></span></a>
                        </div>

                        <div class="challenge-entry">
                            <h2 class="truncate">ECE 250 #3</h2>
                            <p class="subtext truncate"><span class="fa fa-bullseye"></span> 98% Defeated • <span class="fa fa-calendar-o"></span> Mar 7 2015 • 200 <span class="fa fa-star"></span> Bounty</p>
                            <a href="#"><span class="div-link"></span></a>
                        </div>

                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="qpage-card">
                        <div class="inner"><h3>Lloyd Torres</h3></div>

                        <p>Noob

                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="qpage-card">
                        <div class="inner"><h3>Leaderboards</h3></div>

                        <div class="challenge-entry">
                            <h2>MATH 215 #5</h2>
                            <p class="subtext truncate">Due Mar 3 2015 • 10 have completed this</p>
                            <a href="#"><span class="div-link"></span></a>
                        </div>

                    </div>
                </div>

            </div><!-- /row -->

        </div><!-- /container -->

        {% include footer.html %}

    </body>

</html>