<nav class="navbar navbar-default site-navbar">
  <div class="container-fluid col-md-offset-2 col-md-8">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
            <span class="fa fa-navicon fa-lg menu-button nav-links"></span>
        </button>
        <a class="navbar-brand site-title" href="/">{{ site.title }}</a>
    </div>
        <div id="navbar" class="navbar-collapse collapse nav-links">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/quests.html" class="">Quests</a></li>
                <li><a href="#" class="">Logout</a></li>
            </ul>
        </div>
        <!--/.nav-collapse -->
  </div><!-- /.container-fluid -->
</nav>