<!DOCTYPE html>
<html ng-app="todoList"> 
  <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <title></title>
      <meta name="description" content="">
      <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>

      <div ng-controller="mainController">
				<h2> for subscribing to a master list by id</h2>
        <form ng-submit="subscribeUser()">
          <input type="text" placeholder="enter masterlist id for user to subscribe to" ng-model="words"></input>
          <button ng-click="submit">subscribe</button>
				</form>
		
			<h2> for making a new master list<h2>
				<form ng-submit="newMasterList()">
					<input type="text" placeholder="title" ng-model="title"></input>
					<input type="text" placeholder="tasks separated by commas" ng-model="tasks"></input>
          <button ng-click="submit">make</button>
		
				</form>
		
			<h2> for toggling specific task in a list</h2>
				<form ng-submit="toggleTest()">
					<input type="text" placeholder="listId" ng-model="listId"></input>
					<input type="text" placeholder="task descriptions" ng-model="description"></input>
					<button ng-click="submit">toggle</button>
				</form>

			<h2> for getting leaderboard</h2>
					<button ng-click="getLeaderBoard()"> leaders</button>
					
      </div>

      <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.js"></script>
      <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular-resource.js"></script>
      <script type="text/javascript" src="./controllers/main-controller.js"></script>
  </body>
</html>

<!-- https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js -->