<!DOCTYPE html>
<html ng-app="todoList">

    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.11/angular.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.11/angular-route.min.js"></script>
        <title>Quests // Turbo Avenger</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
        <link href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=News+Cycle:400,700' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="/stylesheets/style.css">
        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
        <script>var app = angular.module('todoList', ['ngRoute']);</script>
        <script type="text/javascript" src="./controllers/questController.js"></script>
    </head>

    <body ng-controller="questController">

        <script>
        $(document).ready(function () {
            $('.collapse').hide();
            $('#subscr-dialog').hide();
            $('#new-quest-dialog').hide();
            

            $('#subscr-quest-first').click(function () {
                $('#subscr-dialog').fadeIn('fast');
            });

            $('#cancel-subscr').click(function () {
                $('#subscr-dialog').fadeOut('fast');     
            });

            $('#add-quest').click(function () {
                $('#new-quest-dialog').fadeIn('fast');
            });

            $('#cancel-new-quest').click(function () {
                $('#new-quest-dialog').fadeOut('fast');     
            });
        });
        </script>

        <nav ng-include="'/templates/header.html'"></nav>

        <div class="container col-md-offset-2 col-md-8">

            <div class="row">

                <div class="col-sm-7">
                    <div class="qpage-card">
                        <div class="inner">
                            <h3>Quests</h3>

                            <div class="qpage-add">
                                <a id="subscr-quest-first"><span class="fa fa-level-up fa-fw"></span><span class="desc"><strong>Take an existing quest</strong></span></a>
                                <a id="add-quest"><span class="fa fa-bullhorn fa-fw"></span><span class="desc"><strong>Post a new quest</strong></span></a>
                            </div>
                        </div>

                        <div class="holder" ng-repeat="q in quests">
                            <div class="challenge-entry main-challenge" >
                                <a href="javascript:void(0)"><h2 class="truncate" data-toggle="collapse" data-target="#{{ q['_id']}}">{{ q['title'] }}</h2></a>
                                <p class="subtext key"><span class="fa fa-key"></span> {{ q['associatedMasterList']}}</p>
                            </div>
                            <div id="{{ q['_id'] }}" class="collapse in" ng-init="todos = q['todos']">
                                <div id="{{ t['_id'] }}" class="challenge-entry challenge-subtask" ng-repeat="t in todos">
                                    <h2 class="truncate"><span ng-click="toggle(t['description'], q['associatedMasterList'])"><span class="fa fa-square-o" ng-if="t['completed'] == false"></span> <span class="fa fa-check-square-o checked" ng-if="t['completed'] == true"></span></span> <span ng-class="{strikedown: t['completed']}">{{ t['description'] }}</span></h2>
                                    <p class="subtext truncate" ng-class="{strikedown: t['completed']}"><span class="fa fa-calendar-o"></span> {{ t['dueDate'] | date:'EEEE, d MMMM yyyy' }} • 1 <span class="fa fa-star"></span></p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="col-sm-5">
                    <div class="qpage-card">
                        <div class="inner">
                            <div class="row nopadding">
                                <div class="col-xs-10 nopadding">
                                    <h3 id="user-name" class="truncate marginadjust"></h3>
                                    <p><span id="pts" class="marginadjust"></span> <span class="fa fa-star"></span></p>
                                </div>
                                <div class="col-xs-2 nopadding">
                                <img id="disp-pic" src="" class="img-circle display-pic" />
                                </div>
                            </div><!-- /row -->
                        </div>
                    </div>

                    <div class="qpage-card">
                        <div class="inner">
                            <h3>Leaderboards</h3>

                            <div class="leaderboard">
                                <p ng-repeat="user in leaderboard|limitTo:10">
                                    {{ user.name }} <span class="points">({{ user.points }} <span class="fa fa-star"></span>)</span>
                                </p>
                            </div>
                        </div>

                    </div>
                </div>

            </div><!-- /row -->

        </div><!-- /container -->

        <nav ng-include="'/templates/footer.html'"></nav>

        <div class="dialog" id="subscr-dialog">
            <div class="container inner col-sm-offset-3 col-sm-6">
                <div class="col-sm-12">
                    <p class="description">Enter the key of the quest you'd like to take.</p>
                    <input class="subscr-key" type="text" ng-model="subscr_key"></input>
                    <p id="diag-warning" class="warning"></p>
                    <div class="diag-links">
                        <a href="javascript:void(0)" ng-click="subscribeList()"><span class="fa fa-level-up"></span><span class="desc">Take quest!</span></a>
                        <a href="javascript:void(0)" id="cancel-subscr"><span class="fa fa-close"></span><span class="desc">Close</span></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="dialog" id="new-quest-dialog">
            <div class="container inner col-sm-offset-3 col-sm-6">
                <div class="col-sm-12">
                    <p class="description">Post a new quest!</p>
                    <p class="description">You can start and share this quest once it is posted.</p>
                    <input class="subscr-key" type="text" ng-model="quest_title" placeholder="Name of the quest"></input>
                    <textarea class="task-diag" ng-model="quest_tasks" placeholder="Tasks of the quest (one per line)"></textarea>
                    <p id="diag-quest-warning" class="warning"></p>
                    <div class="diag-links">
                        <a href="javascript:void(0)" ng-click="createQuest()"><span class="fa fa-bullhorn"></span><span class="desc">Post quest!</span></a>
                        <a href="javascript:void(0)" id="cancel-new-quest"><span class="fa fa-close"></span><span class="desc">Cancel</span></a>
                    </div>
                </div>
            </div>
        </div>
    </body>

  </html>